/* Estilos para el componente CartWidget */
.CartWidget {
    width: 30px;
    height: 30px;
}

.CartWidgetContainer {
    position: relative;
}

.CartCounter {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: #fff;
    font-size: 12px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}